* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Header/////////////////////////*/
header
{
  height: 100px;
  background:#4d4d5c;
  padding:0 50px ;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo
{
  text-transform: uppercase;
  color:#6cc091 ;
  font-weight: 200;
}
.menu a
{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.mostrar-menu,
.esconder-menu
{
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;

}
.mostrar-menu
{
  order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover
{
  color: #6cc091;
}
#check
{
  display: none;
}
/*responsive*/
@media(max-width :768px)
{
  .mostrar-menu,
  .esconder-menu
  {
    display: block;
  }
  .menu
  {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #4d4d5c;
    right:-100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  .menu a
  {
    display: block ;
    padding: 20px;
  }
  .esconder-menu
  {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #check:checked ~.menu
  {
    right: 0;
  }
}
/* SECCION I N I C I O */
.inicio{
  background: linear-gradient(60deg,rgb(35, 34, 37),rgb(40, 160, 114),#222423);
  background-size: 400% 400%;
  position: relative;
  height: 50vh;
  color: #fff;
  display: flex;
  align-items: center;
  animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar{
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
}
.inicio .contenido-banner{
  padding: 20px;
  background-color: #1e2326;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}
.inicio .contenido-banner img{
  padding: 3px;
  margin-top: 50px;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}
.inicio .contenido-banner h1{
  margin-top: 40px;
  font-size: 42px;
  font-family: 'Righteous';
}
.inicio .contenido-banner h2{
  font-size: 15px;
  font-weight: normal;
}
.inicio .contenido-banner .redes a{
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
  background-color: #1CB698;
}
.sobremi{
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
}
.sobremi .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.sobremi h2{
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;

}
.sobremi .contenido-seccion p{
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
  color: #1CB698;
  font-weight: bold;
}
.sobremi .fila{
  display: flex;
}
.sobremi .fila .col
{
  width: 50%;
}
.sobremi .fila .col h3{
  font-size: 28px;
  font-family: 'Righteous';
  margin-bottom: 25px;
}
.sobremi .fila .col ul{
  list-style: none;
}
.sobremi .fila .col ul li{
  margin: 12px 0;
}
.sobremi .fila .col ul li strong{
  display: inline-block;
  color: #1CB698;
  width: 130px;
}
.sobremi .fila .col ul li span{
  background-color: #1CB698;
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
  display: flex;
  flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
  width: 100px;
  height: 100px;
  background-color: #252A2E;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
  background-color: #1CB698;
}
.sobremi .fila .col .contenedor-intereses .interes i{
  font-size: 30px;
  margin-bottom: 10px;
}
.portafolio{
  background-color: #1e2326;
}
.sobremi button{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}
.sobremi button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1CB698;
  z-index: -1;
  transition: 1s;
}
.sobremi button:hover .overlay{
  width: 100%;
}
/*Cards//////////////////////////////*/
.container-card{
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
  }
  .titulo-portafolio{
    text-align: center;
    color: #ffffff;
  }
  .title-cards{
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
  }
  .card{
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background:#2d3336;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  transition: all 400ms ease-out;
  cursor: default;
  }
  .card:hover{
  box-shadow: 5px 5px 20px rgba(23, 207, 136, 0.637);
  transform: translateY(-3%);
  }
  .card img{
  width: 100%;
  height: 210px;
  }
  .card .contenido-card{
  padding: 15px;
  text-align: center;
  }
  .card .contenido-card h3{
  margin-bottom: 15px;
  color: #7a7a7a;
  }
  .card .contenido-card p{
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
  }
  .card .contenido-card a{
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
  }
  .card .contenido-card a:hover{
  background: #2fb4cc;
  color: #252424;
  }
  @media only screen and (min-width:320px) and (max-width:768px)
  {
  .container-card{
    flex-wrap: wrap;
  }
  .card{
    margin: 40px;
  }
  .inicio{
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .main
  {
    position: flex;
  }
  .info-content
  {
    top: 100%;
  }
.form-group
{
  margin-left: 100px;
}
  }
/*contacto//////////////*/
.contacto{
  background-color: #1e2326;
  color: #fff;
  padding: 50px 0;
}
.contacto .contenido-seccion{
  max-width: 1000px;
  margin: auto;
}
.contacto h2{
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;
}
.contacto .fila{
  display: flex;
}
.contacto .col{
  width: 50%;
  padding: 10px;
  position: relative;
}
.contacto .col input, .contacto .col textarea{
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: #252A2E;
  color: #fff;
  font-size: 18px;
}
.contacto button{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}
.contacto button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1CB698;
  z-index: -1;
  transition: 1s;
}
.contacto button:hover .overlay{
  width: 100%;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:700px){
  .sobremi .fila{
      display: block;
  }
  .sobremi .fila .col{
      width: fit-content;
  }
  .contacto .fila{
      display: block;
  }
  .contacto .fila .col{
      width: 100%;
  }
  .image-contac{
    width: 50px;
    height: 50px;
  }
}
.footer {
  
  align-items: center;
  padding: 2em;
  background-color: rgb(31, 214, 129);
  }
  
  .footer-content h2 {
  font-size: 6em;
  }
  .footer-content h5 {
    font-size: 1em;
  }
  
  .footer-content h5 {
  font-size: 1.5em;
  text-align: center;
  }
  
.footer-content h2 {
  font-size: 1.5em;
text-align: center;
}

